<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Arietta</title>

    <link rel="stylesheet" href="/styles/vendor/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <canvas id="editor">
        Canvas is not available in this browser, at the moment.
    </canvas>
    <div id="chat">
        <div class="message">
            Hey, guys. Let's try something fast-paced.
        </div>
        <div class="message">
            Nah.  Make it move.
        </div>
        <div class="message">Nyan cat is our ruler.</div>
        <div class="message">If you say so... ?</div>
        <div class="message">I do say so.</div>
        <div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </
        <div class="message">Nyan cat is our ruler.</div>
        <div class="message">If you say so... ?</div>
        <div class="message">I do say so.</div>
        <div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </
        <div class="message">Nyan cat is our ruler.</div>
        <div class="message">If you say so... ?</div>
        <div class="message">I do say so.</div>
        <div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </
        <div class="message">Nyan cat is our ruler.</div>
        <div class="message">If you say so... ?</div>
        <div class="message">I do say so.</div>
        <div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </div>
    </div>
    <div id="nav">
        <h1>Arietta</h1>
        <nav>
            <ul>
                <li><a href="#"><span>Create</span></a></li>
                <li><a href="#"><span>Logout</span></a></li>
            </ul>
        </nav>
    </div>

    <script src="/js/dependencies/jquery-1.10.2.min.js"></script>
    <script src="/js/dependencies/jquery-ui.js"></script>
    
    <script src="/js/dependencies/MIDI.js"></script>
    <script src="/js/dependencies/MIDI.min.js"></script>

    <script src="/js/dependencies/Window/DOMLoader.XMLHttp.js"></script>

    <script src="/js/dependencies/Base64.js"></script>
    <script src="/js/dependencies/base64binary.js"></script>

    <script src="/js/dependencies/app.js"></script>
    <script src="/js/dependencies/app-controls.js"></script>
    <script src="/js/dependencies/app-events.js"></script>
</body>
</html>