   <canvas id="editor">
        Canvas is not available in this browser, at the moment.
    </canvas>
    <div id="chat">
        <div class="message">
            Hey, guys. Let's try something fast-paced.
        </div>
        <div class="message">
            Nah.  Make it move.
        </div>
        <div class="message">Nyan cat is our ruler.</div>
        <div class="message">If you say so... ?</div>
        <div class="message">I do say so.</div>
        <div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </
        <div class="message">Nyan cat is our ruler.</div>
        <div class="message">If you say so... ?</div>
        <div class="message">I do say so.</div>
        <div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </
        <div class="message">Nyan cat is our ruler.</div>
        <div class="message">If you say so... ?</div>
        <div class="message">I do say so.</div>
        <div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </
        <div class="message">Nyan cat is our ruler.</div>
        <div class="message">If you say so... ?</div>
        <div class="message">I do say so.</div>
        <div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </div>
    </div>
    <div id="nav">
        <h1>Arietta</h1>
        <nav>
            <ul>
                <li><a href="#"><span>Create</span></a></li>
                <li><a href="#"><span>Logout</span></a></li>
            </ul>
        </nav>
    </div>

